{% extends "base.twig" %}

{% block body %}
    <div class="row row-cols-1 row-cols-md-3 g-4" style="margin: 15px" >
    {% for file in files %}
        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        {% if file.type == "jpg" %}
                            <img src="{{ file.chemin }}" width="350" class="img-fluid rounded-start">
                        {% elseif file.type == "mp4" %}
                            <video width="350" controls="controls" preload="metadata" class="img-fluid rounded-start">
                                <source src="{{ file.chemin }}#t=0.5" type="video/mp4">
                            </video>
                        {% elseif file.type == "pdf" %}
                            <img src="{{ file.miniature }}" width="350" class="img-fluid rounded-start"/>
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ file.nom }}</h5>
                            <p class="card-text"><small class="text-muted">{{ file.type }}</small></p>
                            <a href="../app/download.php?path={{ file.chemin }}">Télécharger le fichier</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
